
@{
    ViewData["Title"] = "Index";
    
}


<!-- PRODUCTS START -->

<section id="products">
    <div class="container">
        <div class="row" id="product">
            @await Component.InvokeAsync("Product",4) 
        
      </div>
       
       
    </div>
</section>

<!-- PRODUCTS END -->