@model Category
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Model.Name</h4>
                <p>
                    @Model.Description
                </p>
                <a class="btn btn-link" asp-controller="Category" asp-action="Index">Go back</a>
            </div>
        </div>
    </div>
</div>