@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}



<form class="pt-3" method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input class="form-control form-control-lg border-left-0" asp-for="Username" placeholder="Email">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="OldPassword">OldPassword</label>
        <input class="form-control form-control-lg border-left-0" asp-for="OldPassword">
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">NewPassword</label>
        <input class="form-control form-control-lg border-left-0" asp-for="NewPassword">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
    <div class="my-2 d-flex justify-content-between align-items-center"> 
        <a href="#" class="auth-link text-black">Forgot password?</a>
    </div>
</form>
